{% extends 'boilerplates/base_navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Assignment{% endblock %}

{% block content %}
<div class="container-scroller" style="width: 100%; height: 60%">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title"><a href="{% url 'course'  %}"><button type="button" class="btn btn-outline-primary">Back</button></a>
          &nbsp&nbsp&nbsp&nbsp&nbsp{{ course.course_name}} - {{ course.course_number}} - Assignments</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                {% comment %} <th>
                  course_id
                </th> {% endcomment %}
                <th>
                  Assignment Name
                </th>
                {% comment %} <th>
                  description
                </th> {% endcomment %}
                <th>
                  Assignment Type
                </th>
                {% comment %} <th>
                  submission_type
                </th> {% endcomment %}
                <th>
                  Total Score
                </th>
                <th>
                  Weight
                </th>
                {% comment %} <th>
                  date_created
                </th> {% endcomment %}
                {% comment %} <th>
                  date_released
                </th> {% endcomment %}
                <th>
                  Due
                </th>
                {% comment %} <th>
                  review_assign_policy
                </th> {% endcomment %}
              </tr>
            </thead>
            {% csrf_token %}
            {% for assignment in assignments %}
            <tbody>
              <tr>
                {% comment %} <td class="py-1"> 
                  {{ assignment.course_id}}
                </td> {% endcomment %}
                <td>
                  {{ assignment.assignment_name}}
                </td>
                {% comment %} <td>
                  {{ assignment.description}}
                </td> {% endcomment %}
                <td>
                  {{ assignment.assignment_type}}
                </td>
                {% comment %} <td>
                  {{ assignment.submission_type}}
                </td> {% endcomment %}
                <td>
                  {{ assignment.total_score}}
                </td>
                <td>
                  {{ assignment.weight}}
                </td>
                {% comment %} <td>
                  {{ assignment.date_created}}
                </td> {% endcomment %}
                {% comment %} <td>
                  {{ assignment.date_released}}
                </td> {% endcomment %}
                <td>
                  {{ assignment.date_due}}
                </td>
                {% comment %} <td>
                  {{ assignment.review_assign_policy}}
                </td> {% endcomment %}
                <td>
                  <a href="{% url 'view_assignment' course_id assignment.id %}">
                    <button type="button" class="btn-sm btn-primary">view</button>
                  </a>
                </td>
                {% if user.is_staff %}
                <td>
                  <a href="{% url 'edit_assignment' course_id assignment.id %}">
                    <button type="button" class="btn-sm btn-primary">Edit</button>
                  </a>
                </td>
                <td>
                  <a href="{% url 'delete_assignment' course_id assignment.id%}">
                    <button type="button" class="btn-sm btn-primary">delete</button>
                  </a>
                </td>
                {% endif %}
              </tr>
            </tbody>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if user.is_staff %}
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <h4 class="card-title">Add assignment</h4>
          <div class="form-group">
            <label for="assignment_name">assignment_name</label>
            <input type="text" name="assignment_name" class="form-control" id="assignment-name"
              placeholder="assignment Name">
          </div>
          <input type="hidden" name="course" class="form-control" id="course-ID" value="{{ course_id }}">
          <button type="submit" class="btn btn-primary me-2">Add</button>
        </form>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}