{% extends 'boilerplates/base_navbar.html' %}
{% load static %}
{% load widget_tweaks %}
{% load widget_tweaks form_tags %}

{% block title %}Course List{% endblock %}

{% block content %}
<div class="container-scroller" style="width: 100%; height: 60%">
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Courses</h4>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>
                  Course Name
                </th>
                <th>
                  Course Number
                </th>
                <th>
                  Semester
                </th>
                {% if reg.userRole == 'Instructor' or reg.userRole == 'TA' %}
                <th>
                  Status
                </th>
                {% endif %}
              </tr>
            </thead>
            {% for reg in registration %}
            <!-- TODO: TAs should be able to view invisible course as well -->
            {% if reg.courses.visible or reg.userRole == 'Instructor' or reg.userRole == 'TA' %}
            <tbody>
              <tr>
                <td class="py-1">
                  {{ reg.courses.course_name}}
                </td>
                <td>
                  {{ reg.courses.course_number}}
                </td>
                <td>
                  {{ reg.courses.semester}}
                </td>
                {% if reg.userRole == 'Instructor' or reg.userRole == 'TA' %}
                <td>
                  {{ reg.courses.visible}}
                </td>
                {% endif %}
                <td>
                  <a href="{% url 'assignment' reg.courses.id %}">
                    <button type="button" class="btn-sm btn-primary">Assignments</button>
                  </a>
                </td>
                {% if user.is_staff %}
                <td>
                  <a href="{% url 'member_list' reg.courses.id %}">
                    <button type="button" class="btn-sm btn-primary">Members</button>
                  </a>
                </td>
                {% endif %}
                <td>
                  <a href="{% url 'view_course' reg.courses.id %}">
                    <button type="button" class="btn-sm btn-primary">view</button>
                  </a>
                </td>
                {% if user.is_staff %}
                <td>
                  <a href="{% url 'edit_course' reg.courses.id %}">
                    <button type="button" class="btn-sm btn-primary">edit</button>
                  </a>
                </td>
                {% endif %}
                {% if user.is_staff %}
                <td>
                  <a href="{% url 'delete_course' reg.courses.id %}">
                    <button type="button" class="btn-sm btn-primary">delete</button>
                  </a>
                </td>
                {% endif %}
              </tr>
            </tbody>
            {% endif %}
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if user.is_staff %}
  <div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          
          <h4 class="card-title">Add Course</h4>
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
              <p{% if forloop.last %} class="mb-0" {% endif %}>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form %}
            {% if field.name == 'course_name' or field.name == 'course_number'%}
            <div class="form-group">
              {{ field.label_tag }}

              {% render_field field class=field|input_class style=field|input_style %}
              {% for error in field.errors %}
              <div class="invalid-feedback">
                {{ error }}
              </div>
              {% endfor %}

              {% if field.help_text %}
              <small class="form-text text-muted">
                {{ field.help_text|safe }}
              </small>
              {% endif %}
            </div>
            {% endif %}
            {% endfor %}
          <button type="submit" class="btn btn-primary me-2">Add</button>
        </form>
      </div>
    </div>
  </div>
  
  {% endif %}
</div>
{% endblock content %}