{% extends 'boilerplates/base_navbar.html' %}
{% load static %}
{% load widget_tweaks %}
{% load widget_tweaks form_tags %}

{% block title %}Dashboard Card{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-row flex-wrap text-start align-items-center">
                        <img src="../static/images/faces/face12.jpg" class="img-lg rounded">
                        <div class="ms-sm-3 ms-md-0 ms-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                            <h6 class="mb-0">Alex</h6>
                            <p class="text-muted mb-1">xh2</p>
                            {% comment %} <p class="text-muted mb-1">AndrewId</p> {% endcomment %}
                            <a href="">
                                Report 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-row flex-wrap text-start align-items-center">
                        <img src="../static/images/faces/face12.jpg" class="img-lg rounded">
                        <div class="ms-sm-3 ms-md-0 ms-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                            <h6 class="mb-0">Alex</h6>
                            <p class="text-muted mb-1">xh2</p>
                            <a href="">
                                Report 
                            </a>
                            {% comment %} <p class="text-muted mb-1">AndrewId</p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-row flex-wrap text-start align-items-center">
                        <img src="../static/images/faces/face12.jpg" class="img-lg rounded">
                        <div class="ms-sm-3 ms-md-0 ms-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                            <h6 class="mb-0">Jiadong</h6>
                            <p class="text-muted mb-1">jiadongz</p>
                            <a href="">
                                Report 
                            </a>
                            {% comment %} <p class="text-muted mb-1">AndrewId</p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-row flex-wrap text-start align-items-center">
                        <img src="../static/images/team-icon-6.png" class="img-lg rounded">
                        <div class="ms-sm-3 ms-md-0 ms-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                            <h3 class="mb-0">T1</h3>
                            <div>
                                <a href="">
                                    Team member 
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    Team report 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-row flex-wrap text-start align-items-center">
                        <img src="../static/images/team-icon-6.png" class="img-lg rounded">
                        <div class="ms-sm-3 ms-md-0 ms-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                            <h3 class="mb-0">T1</h3>
                            <div>
                                <a href="">
                                    Team member 
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    Team report 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="d-sm-flex flex-row flex-wrap text-start align-items-center">
                        <img src="../static/images/team-icon-6.png" class="img-lg rounded">
                        <div class="ms-sm-3 ms-md-0 ms-xl-3 mt-2 mt-sm-0 mt-md-2 mt-xl-0">
                            <h3 class="mb-0">T1</h3>
                            <div>
                                <a href="">
                                    Team member 
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    Team report 
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="../static/images/326579-200.png" class="img-lg rounded">
                        </div>
                        <div class="col-lg-9">
                            <h5 class="card-title">Assignment 1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Individual</h6>
                            <p class="card-text">Assignment description</p>
                            <a href="#" class="card-link">Student list</a>
                            <a href="#" class="card-link">Report</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item" style="text-align: center">34 Students</li>
                </ul>
              </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="../static/images/faces/face12.jpg" class="img-lg rounded">
                        </div>
                        <div class="col-lg-9">
                            <h5 class="card-title">Alex He</h5>
                            <h6 class="card-subtitle mb-2 text-muted">xh2</h6>
                            <p class="card-text">Student</p>
                            {% comment %} <a href="#" class="card-link">Student list</a> {% endcomment %}
                            <a href="#" class="card-link">Report</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item" style="text-align: center">98%</li>
                </ul>
              </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <img src="../static/images/team-png-icon-free-download-396003.png" class="img-lg rounded">
                        </div>
                        <div class="col-lg-9">
                            <h5 class="card-title">Team 1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Team name</h6>
                            <p class="card-text">5 Members</p>
                            <a href="#" class="card-link">Team member list</a>
                            <a href="#" class="card-link">Report</a>
                        </div>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="text-align: center"></li>
                    <li class="list-group-item" style="text-align: center">98%</li>
                </ul>
              </div>
        </div>
  </div>

{% endblock content %}
