{% extends 'boilerplates/base_navbar.html' %}
{% load static widget_tweaks %}

{% block title %}Edit Survey{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin" id="survey">
    </div> <!-- end #survey -->
  </div> <!-- end .row -->
  <div class="d-grid d-block">
    <a role="button" class="btn btn-primary submit-survey-btn" href="{% url 'assignment' course_id %}">
      <i class="fa fa-arrow-circle-right"></i> SAVE
    </a>
  </div>
</div> <!-- end .content-wrapper -->

<!-- Add Section Modal -->
<div class="modal fade" id="addSectionModal" tabindex="-1" role="dialog" aria-labelledby="addSectionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSectionModalLabel">Add Section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sectionTitle">Section Title</label>
          <input type="text" list="titleCandidates" class="form-control" id="sectionTitle" placeholder="Section Title"
            required>
          <datalist id="titleCandidates">
          </datalist>
        </div>
        <div class="form-group">
          <label for="sectionDescription">Section Description</label>
          <textarea class="form-control" id="sectionDescription" rows="3"></textarea>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="sectionRequired">
          <label class="form-check-label" for="sectionRequired">Required</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-btn">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Section Modal -->
<div class="modal fade" id="editSectionModal" tabindex="-1" role="dialog" aria-labelledby="editSectionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSectionModalLabel">Edit Section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="originalTitle" hidden>
        <div class="form-group">
          <label for="sectionTitle">Section Title</label>
          <input type="text" class="form-control" id="sectionTitle" placeholder="Section Title" required>
        </div>
        <div class="form-group">
          <label for="sectionDescription">Section Description</label>
          <textarea class="form-control" id="sectionDescription" rows="3"></textarea>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="sectionRequired">
          <label class="form-check-label" for="sectionRequired">Required</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-btn">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Question Modal -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addQuestionModalLabel">Add Question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sectionTitleInQuestionModal">Section Title</label>
          <input type="text" class="form-control" id="sectionTitleInQuestionModal" disabled>
        </div>
        <div class="form-group">
          <label for="questionText">Question Text</label>
          <input type="text" list="textCandidates" class="form-control" id="questionText" placeholder="Question Text"
            required>
          <datalist id="textCandidates">
          </datalist>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="questionRequired">
          <label class="form-check-label" for="questionRequired">Required</label>
        </div>
        <div class="form-group">
          <label for="questionType">Question Type</label>
          <select class="form-control" id="questionType">
            <option value="">Select Question Type</option>
            <option value="mcq">Multiple Choice Question</option>
            <option value="fixed-text">Fixed Text</option>
            <option value="multi-text">Multi-line Text</option>
            <option value="textarea">Textarea</option>
            <option value="number">Numeric</option>
          </select>
        </div>

        <div class="form-group" id="mcqFields">
          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-md-auto col-sm-12">
              <label for="mcqOptions">Options</label>
            </div>
            <div class="col-md-auto col-sm-12">
              <button type="button" class="btn btn-sm btn-primary add-option-btn">Add Option</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="choices">
              <input type="text" class="form-control mb-2" id="mcqOptions" placeholder="New Option" required>
            </div>
          </div>
        </div>

        <div class="form-group" id="textFields">
          <label for="numberOfText">Number of Blanks</label>
          <input type="text" class="form-control" id="numberOfText" required>
        </div>

        <div class="form-group" id="numericFields">
          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-md-4 col-sm-12">
              <label>Min</label>
              <input type="text" class="form-control" value="1" disabled>
            </div>
            <div class="col-md-4 col-sm-12">
              <label>Max</label>
              <input type="text" class="form-control" value="10" disabled>
            </div>
            <div class="col-md-4 col-sm-12">
              <label>Step</label>
              <input type="text" class="form-control" value="1" disabled>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-btn">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Question Modal -->
<div class="modal fade" id="editQuestionModal" tabindex="-1" role="dialog" aria-labelledby="editQuestionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editQuestionModalLabel">Edit Question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="text" class="form-control" id="originalText" hidden>
        <div class="form-group">
          <label for="sectionTitleInQuestionModal">Section Title</label>
          <input type="text" class="form-control" id="sectionTitleInQuestionModal" disabled>
        </div>
        <div class="form-group">
          <label for="questionText">Question Text</label>
          <input type="text" class="form-control" id="questionText" placeholder="Question Text" required>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="questionRequired">
          <label class="form-check-label" for="questionRequired">Required</label>
        </div>
        <div class="form-group">
          <label for="questionType">Question Type</label>
          <select class="form-control" id="questionType" disabled>
            <option value="">Select Question Type</option>
            <option value="mcq">Multiple Choice Question</option>
            <option value="fixed-text">Fixed Text</option>
            <option value="multi-text">Multi-line Text</option>
            <option value="textarea">Textarea</option>
            <option value="number">Numeric</option>
          </select>
        </div>

        <div class="form-group" id="mcqFields">
          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-md-auto col-sm-12">
              <label for="mcqOptions">Options</label>
            </div>
            <div class="col-md-auto col-sm-12">
              <button type="button" class="btn btn-sm btn-primary add-option-btn">Add Option</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="choices">
              <input type="text" class="form-control mb-2" id="mcqOptions" placeholder="New Option" required>
            </div>
          </div>
        </div>

        <div class="form-group" id="textFields">
          <label for="numberOfText">Number of Blanks</label>
          <input type="text" class="form-control" id="numberOfText" required>
        </div>

        <div class="form-group" id="numericFields">
          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-md-4 col-sm-12">
              <label>Min</label>
              <input type="text" class="form-control" value="1" disabled>
            </div>
            <div class="col-md-4 col-sm-12">
              <label>Max</label>
              <input type="text" class="form-control" value="10" disabled>
            </div>
            <div class="col-md-4 col-sm-12">
              <label>Step</label>
              <input type="text" class="form-control" value="1" disabled>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save-btn">Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/survey-template.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/survey-template.js' %}"></script>
<script src="{% static 'js/survey-page.js' %}"></script>
<script src="{% static 'js/pdf-carousel.js' %}"></script>
<script>

  $(document).ready(function () {
    var surveyDOM = document.getElementById('survey');
    survey.render(surveyDOM);

    survey.on('click', '.back-btn', function (e) {
      e.preventDefault();
      window.location.href = `/course/{{course_id}}/assignment/`
    });

    survey.on('click', '.student-view-btn', function (e) {
      e.preventDefault();
      window.location.href = 'preview';
    });

    survey.on('click', '.edit-template-btn', function (e) {
      e.preventDefault();
      window.location.href = `/course/{{course_id}}/assignment/{{assignment_id}}/template/edit_survey_template/`
    });

    survey.on('click', '.remove-section-btn', function (e) {
      var button = $(e.currentTarget);
      var sectionTitle = button.closest('.section').find('.section-title').text();
      var section = this.getSectionByTitle(sectionTitle);

      $.ajax({
        async: false,
        type: 'DELETE',
        url: `/api/sections/${section.pk}/`,
        success: function (data) {
          survey.removeSection(section);
        },
        error: function (data) {
          console.log(data);
        }
      });
    });

    survey.on('click', '.remove-question-btn', function (e) {
      var button = $(e.currentTarget);
      var questionText = button.closest('.question').find('.question-text').text();
      var sectionTitle = button.closest('.section').find('.section-title').text();

      var section = this.getSectionByTitle(sectionTitle);
      var question = section.getQuestionByText(questionText);

      $.ajax({
        async: false,
        url: `/api/questions/${question.pk}/`,
        type: 'DELETE',
        success: function () {
          section.removeQuestion(question);
        },
        error: function (data) {
          console.log(data);
        }
      });
    });


    var addSectionModal = new SectionModal($('#addSectionModal'));
    addSectionModal.on('click', '.save-btn', function () {
      var sectionTitle = this.modal.find('#sectionTitle').val().trim();
      var sectionDescription = this.modal.find('#sectionDescription').val();
      var sectionRequired = this.modal.find('#sectionRequired').is(':checked');

      if (sectionTitle === 'Artifact') {
        alert('Artifact is a reserved section title. Please choose another title.');
        return;
      }
      if (sectionTitle === '') {
        alert('Section title cannot be empty.');
        return;
      }
      if (survey.getSectionTitles().includes(sectionTitle)) {
        alert('Section title already exists.');
        return;
      }

      $.ajax({
        async: false,
        url: `/api/surveys/${survey.pk}/sections/`,
        type: 'POST',
        data: {
          csrfmiddlewaretoken: '{{ csrf_token }}',
          title: sectionTitle,
          description: sectionDescription,
          is_required: sectionRequired,
        },
        success: function (data) {
          data.survey = survey;
          var section = new Section(
            data,
            questions = [],
            options = {
              editable: true,
            }
          );
          survey.addSection(section);
        },
        error: function (data) {
          var message = data.responseJSON.message;
          alert(message);
        }
      });

      // Add questions automatically if it is a template section
      if (sectionTitle in template_data) {
        var section = survey.getSectionByTitle(sectionTitle);
        template_data[sectionTitle].questions.forEach(questionData => {
          var questionText = questionData.text;
          var questionType = queTypeMapRev[questionData.question_type];
          var questionRequired = questionData.is_required;
          var choices = null;
          var numberOfText = null;
          var minValue = '1';
          var maxValue = '10';
          var step = '1';

          if (questionData.option_choices)
            choices = questionData.option_choices.map(choice => choice.text);
          if (questionData.number_of_text)
            numberOfText = questionData.number_of_text;

          addQuestionAjax(section, questionText, questionType, questionRequired, choices, numberOfText, minValue, maxValue, step);
        });
      }

      // Hide modal
      this.hide();
      this.reset();
    });
    addSectionModal.on('input', '#sectionTitle', function (e) {
      var title = $(e.currentTarget).val().trim();
      var option = $('#titleCandidates option').filter(function () {
        return $(this).text() === title;
      });
      if (option.length > 0) {
        var required = option.data('required');
        this.modal.find('#sectionRequired').prop('checked', required);
      } else {
        this.modal.find('#sectionRequired').prop('checked', false);
      }
    });

    var editSectionModal = new SectionModal($('#editSectionModal'));
    editSectionModal.on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var sectionTitle = button.closest('fieldset').find('.section-title').ignore('span').text().trim();
      var sectionDescription = button.closest('fieldset').find('.section-description').text().trim();

      var section = survey.getSectionByTitle(sectionTitle);
      var sectionRequired = section.is_required;

      this.modal.find('#originalTitle').val(sectionTitle);
      this.modal.find('#sectionTitle').val(sectionTitle);
      this.modal.find('#sectionDescription').val(sectionDescription);
      this.modal.find('#sectionRequired').prop('checked', sectionRequired);
    });
    editSectionModal.on('hidden.bs.modal', function (event) {
      this.reset();
    });
    editSectionModal.on('click', '.save-btn', function () {
      var originalTitle = this.modal.find('#originalTitle').val();
      var sectionTitle = this.modal.find('#sectionTitle').val();
      var sectionDescription = this.modal.find('#sectionDescription').val();
      var sectionRequired = this.modal.find('#sectionRequired').is(':checked');

      var section = survey.getSectionByTitle(originalTitle);

      $.ajax({
        async: false,
        url: `/api/sections/${section.pk}/`,
        type: 'PUT',
        data: {
          title: sectionTitle,
          description: sectionDescription,
          is_required: sectionRequired,
        },
        success: function (data) {
          // Get section from survey and edit it
          var section = survey.getSectionByTitle(originalTitle);
          section.title = data.title;
          section.description = data.description;
          section.is_required = data.is_required;
          section.pk = data.pk;
          section.updateElement();
        },
        error: function (data) {
          console.log(data);
        }
      });

      // Hide modal
      this.hide();
      this.reset();
    });


    var addQuestionModal = new QuestionModal($('#addQuestionModal'));
    addQuestionModal.on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var sectionTitle = button.closest('fieldset').find('.section-title').text();
      this.modal.find('#sectionTitleInQuestionModal').val(sectionTitle);

      var section = survey.getSectionByTitle(sectionTitle);
      this.modal.find('#questionRequired').prop('checked', section.is_required);

      if (sectionTitle !== 'Aspect') {
        var $lastOption = this.modal.find('#questionType option:last');
        if ($lastOption.val() === 'number') {
          $lastOption.remove();
        }
      } else {
        var $lastOption = this.modal.find('#questionType option:last');
        if ($lastOption.val() !== 'number') {
          this.modal.find('#questionType').append(
            '<option value="number">Numeric</option>'
          );
        }
      }

      // Render question text candidates if it is in a template section
      // if (sectionTitle in template_data) {
      //   template_data[sectionTitle].questions.forEach(questionData => {
      //     $('#textCandidates').append(`<option value="${questionData.text}">${questionData.text}</option>`);
      //   })
      // }
    });
    addQuestionModal.on('click', '.save-btn', function (event) {
      var sectionTitle = this.modal.find('#sectionTitleInQuestionModal').val();
      var section = survey.getSectionByTitle(sectionTitle);

      var questionText = this.modal.find('#questionText').val();
      var questionType = this.modal.find('#questionType').val();
      var questionRequired = this.modal.find('#questionRequired').is(':checked');

      var choices = [];
      this.modal.find('#choices').find('input').each(function () {
        var choice_text = $(this).val();
        if (choice_text !== '') {
          choices.push(choice_text);
        }
      });

      var numberOfText;
      if (this.modal.find('#numberOfText').val() != '') {
        numberOfText = parseInt(this.modal.find('#numberOfText').val());
      } else {
        numberOfText = 1;
      }

      var minValue = this.modal.find('#minValue').val();
      var maxValue = this.modal.find('#maxValue').val();
      var step = this.modal.find('#step').val();

      addQuestionAjax(section, questionText, questionType, questionRequired, choices, numberOfText, minValue, maxValue, step);

      // Hide modal
      this.hide();
      this.reset();
    });


    var editQuestionModal = new QuestionModal($('#editQuestionModal'));
    editQuestionModal.on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var questionText = button.closest('.question').find('.question-text').ignore('span').text().trim();

      var sectionTitle = button.closest('fieldset').find('.section-title').text().trim();
      var section = survey.getSectionByTitle(sectionTitle);
      var question = section.getQuestionByText(questionText);

      this.modal.find('#originalText').val(questionText);
      this.modal.find('#questionText').val(questionText);
      this.modal.find('#sectionTitleInQuestionModal').val(sectionTitle);
      this.modal.find('#questionRequired').prop('checked', question.is_required);
      this.modal.find('#questionType').val(question.type);
      this.modal.find('#questionType').trigger('change');

      switch (question.type) {
        case 'mcq':
          for (var i = 1; i < question.choices.length; i++) {
            this.modal.find('#choices').append(
              '<div class="input-group mb-2">' +
              '  <input type="text" class="form-control" placeholder="New Option" required>' +
              '  <button class="btn btn-outline-danger remove-option-btn" type="button">Remove</button>' +
              '</div>'
            );
          }
          this.modal.find('#choices input').each(function (index, element) {
            $(element).val(question.choices[index].text);
          });
          break;
        case 'fixed-text':
        case 'multi-text':
          this.modal.find('#numberOfText').val(question.numberOfText);
          break;
        case 'textarea':
          break;
        default:
          break;
      }
    });
    editQuestionModal.on('hidden.bs.modal', function (event) {
      this.reset();
    });
    editQuestionModal.on('click', '.save-btn', function (event) {
      var originalText = this.modal.find('#originalText').val();
      var questionText = this.modal.find('#questionText').val();
      var questionType = this.modal.find('#questionType').val();
      var questionRequired = this.modal.find('#questionRequired').is(':checked');

      // Get question from section
      var sectionTitle = this.modal.find('#sectionTitleInQuestionModal').val();
      var section = survey.getSectionByTitle(sectionTitle);
      var question = section.getQuestionByText(originalText);

      // Modify question text
      $.ajax({
        async: false,
        url: `/api/questions/${question.pk}/`,
        type: 'PUT',
        data: {
          text: questionText,
          question_type: queTypeMap[questionType],
          is_required: questionRequired,
        },
        success: function (data) {
          question.pk = data.pk;
          question.text = data.text;
          question.is_required = data.is_required;
          question.updateElement();
        },
        error: function (data) {
          console.log(data);
        }
      });

      // Modify choices of question
      switch (questionType) {
        case 'mcq':
          var newChoices = [];
          this.modal.find('#choices input').each(function (index, element) {
            var choice_text = $(element).val();
            if (choice_text != '') {
              newChoices.push(choice_text);
            }
          });

          $.ajax({
            async: false,
            url: `/api/questions/${question.pk}/options/`,
            type: 'PUT',
            data: JSON.stringify(newChoices),
            success: function (data) {
              var choices = [];
              for (var i = 0; i < data.length; i++) {
                data[i].question = question;
                var choice = new OptionChoice(
                  data[i],
                  options = {
                    editable: true,
                  }
                );
                choices.push(choice);
              }
              question.choices = choices;

              question.updateElement();
            },
            error: function (data) {
              console.log(data);
            }
          });
          break;
        case 'fixed-text':
        case 'multi-text':
          // Modify # of display lines if it is a text question
          var emptyChoicePK = null;
          $.ajax({
            async: false,
            url: `/api/questions/${question.pk}/options/`,
            type: 'GET',
            success: function (data) {
              emptyChoicePK = data[0].pk;
            }
          });

          var numberOfText = this.modal.find('#numberOfText').val();
          $.ajax({
            async: false,
            url: `/api/questions/${question.pk}/options/${emptyChoicePK}/`,
            type: 'PUT',
            data: {
              text: '',
              number_of_text: numberOfText,
            },
            success: function (data) {
              question.numberOfText = numberOfText;
              question.updateElement();
            },
            error: function (data) {
              console.log(data);
            }
          });
          break;
        case 'textarea':
        case 'number':
        default:
          break;
      }

      // Hide modal
      this.hide();
      this.reset();
    });
  });

  $(function () {
    $.ajaxSetup({
      headers: { "X-CSRFToken": "{{ csrf_token }}" }
    });
  });

  var survey_pk = '{{ survey_pk }}'
  var { survey, _ } = getSurvey(survey_pk, { editable: true });

  var template_data = {};
  $.ajax({
    async: false,
    url: `/api/template_sections/`,
    type: 'GET',
    success: function (data) {
      data = JSON.parse(data).sections;
      data.forEach(element => {
        var title = element.title;
        template_data[title] = element;
        $('#titleCandidates').append(`<option value="${title}" data-required=${element.is_required}>${title}</option>`);
      });
    },
    error: function (data) {
      var message = data.responseJSON.message;
      alert(message);
    }
  });

  function addQuestionAjax(section, questionText, questionType, questionRequried, choices, numberOfText, minValue, maxValue, step) {
    // Add question to server
    var question = null;
    $.ajax({
      async: false,
      url: `/api/sections/${section.pk}/questions/`,
      type: 'POST',
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        text: questionText,
        question_type: queTypeMap[questionType],
        is_required: questionRequried,
      },
      success: function (data) {
        data.section = section;

        var questionClass;
        switch (questionType) {
          case 'mcq':
            questionClass = MultipleChoiceQuestion;
            break;
          case 'fixed-text':
            questionClass = FixedTextInputQuestion;
            break;
          case 'multi-text':
            questionClass = MultiTextInputQuestion;
            break;
          case 'textarea':
            questionClass = TextAreaQuestion;
            break;
          case 'number':
            questionClass = NumericInputQuestion;
            break;
          default:
            break;
        }

        question = new questionClass(
          data,
          options = {
            editable: true,
          }
        );

        section.addQuestion(question);
      },
      error: function (data) {
        console.log(data);
      }
    });

    // Add choices of question to server
    switch (questionType) {
      case 'mcq':
        choices.forEach(choice_text => {
          $.ajax({
            async: false,
            url: `/api/questions/${question.pk}/options/`,
            type: 'POST',
            data: {
              csrfmiddlewaretoken: '{{ csrf_token }}',
              text: choice_text,
            },
            success: function (data) {
              data.question = question;
              var choice = new OptionChoice(
                data,
                options = {
                  editable: true,
                }
              );
              question.addChoice(choice);
            },
            error: function (data) {
              console.log(data);
            }
          });
        });
        break;
      case 'fixed-text':
      case 'multi-text':
        $.ajax({
          async: false,
          url: `/api/questions/${question.pk}/options/`,
          type: 'POST',
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            text: '',
            number_of_text: numberOfText,
          },
          success: function (data) {
            question.numberOfText = numberOfText;
            question.updateElement();
          },
          error: function (data) {
            console.log(data);
          }
        });
        break;
      case 'textarea':
        $.ajax({
          async: false,
          url: `/api/questions/${question.pk}/options/`,
          type: 'POST',
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            text: '',
          },
          success: function (data) {
            question.updateElement();
          },
          error: function (data) {
            console.log(data);
          }
        });
        break;
      case 'number':
        if (minValue != '') {
          question.minValue = parseInt(minValue);
        }
        if (maxValue != '') {
          question.maxValue = parseInt(maxValue);
        }
        if (step != '') {
          question.step = parseInt(step);
        }

        $.ajax({
          async: false,
          url: `/api/questions/${question.pk}/options/`,
          type: 'POST',
          data: {
            csrfmiddlewaretoken: '{{ csrf_token }}',
            text: '',
          },
          success: function (data) {
            question.updateElement();
          },
          error: function (data) {
            console.log(data);
          }
        });
        break;
      default:
        break;
    }

  }
</script>
{% endblock js %}