{% extends 'boilerplates/base_navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Assignment{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            {% comment %} <a href="{% url 'artifact' course_id %}"><button type="button"
                class="btn btn-outline-primary">Back</button></a> {% endcomment %}
            <div class="col-lg-12">
              {% if userRole == 'Instructor' or userRole == 'TA'%}
              <form class="pt-3" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'boilerplates/form.html' %}
                <div class="mt-3">
                  <button class="btn btn-block btn-primary btn-md font-weight-medium auth-form-btn"
                    type="submit">Save</button>
                </div>
              </form>
              {% else %}
              <p>You are not authorized to edit this assignment.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block js %}
<script>
  $('.datetimepicker').each(function () {
    new tempusDominus.TempusDominus(this, {
      display: {
        components: {
          seconds: true
        },
      },
    });
  });
</script>
{% endblock %}