{% extends 'boilerplates/base_navbar.html' %}
{% load static widget_tweaks %}

{% block title %}Test Fill in Survey{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin" id="survey">
    </div> <!-- end #survey -->
  </div> <!-- end .row -->
</div> <!-- end .content-wrapper -->
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/survey-template.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/survey-template.js' %}"></script>
<script src="{% static 'js/survey-page.js' %}"></script>
<script>

  $(document).ready(function () {
    var surveyDOM = document.getElementById('survey');
    survey.render(surveyDOM);

    survey.on('click', '.save-section-btn', function (e) {
      var button = $(e.currentTarget);
      var sectionTitle = button.closest('.section').find('.section-title').text();
      var section = this.getSectionByTitle(sectionTitle);

      for (var i = 0; i < section.questions.length; i++) {
        var question = section.questions[i];
        var answers = question.getAnswers();
        console.log(question.pk, answers);
        // Put the ajax call here
        $.ajax({
          url: `/api/artifact_review/${artifact_review_pk}/questions/${question.pk}/answers/`,
          type: 'PUT',
          data: {
            answer_text: JSON.stringify(answers),
          },
          success: function (data) {
            console.log(data);
          },
        });
      }
    });

    survey.on('click', '.submit-survey-btn', function (e) {
      var button = $(e.currentTarget);
      var sections = this.getSections();
      console.log(sections);
      for (var j = 0; j < sections.length; j++) {
        for (var i = 0; i < sections[j].questions.length; i++) {
          var question = sections[j].questions[i];
          var answers = question.getAnswers();
          console.log(question.pk, answers);
          // Put the ajax call here
          $.ajax({
            url: `/api/artifact_review/${artifact_review_pk}/questions/${question.pk}/answers/`,
            type: 'PUT',
            data: {
              answer_text: JSON.stringify(answers),
            },
            success: function (data) {
              console.log(data);
            },
          });
        }
      }
    });
  });

  $(function () {
    $.ajaxSetup({
      headers: { "X-CSRFToken": "{{ csrf_token }}" }
    });
  });

  var survey = getSurvey('{{ survey_pk }}', { editable: false, live: true });

  var artifact_review_pk = '{{ artifact_review_pk }}';

</script>
{% endblock js %}