{% extends 'boilerplates/base_navbar.html' %}
{% load static %}

{% block title %}Test Report Question{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <div class="py-2">
            <div id="summaryContent" style="padding: 1rem">
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="sectinTab" role="tablist">
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" id="sectinTabContent">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block css %}
<style>
  .vertical-scrollable.row {
    max-height: 150px;
    overflow-y: auto;
  }

  .artifact-feedback .vertical-scrollable.row {
    height: 100%;
    overflow-y: auto;
  }
</style>

<link rel="stylesheet" href="{% static 'css/pdf-carousel.css' %}">
{% endblock %}



{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.min.js"
  integrity="sha512-dw+7hmxlGiOvY3mCnzrPT5yoUwN/MRjVgYV7HGXqsiXnZeqsw1H9n9lsnnPu4kL2nx2bnrjFcuWK+P3lshekwQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.14.305/pdf.worker.min.js"
  integrity="sha512-fahFaRPTP2xrdxAbzgG31V4Vr+Ga/hp4gQu3ZBq83bhKO10NoWfTJ20OWg9ufEyT1Y4ZyCuh9wLHY9CHi6l95Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'js/artifact-report.js' %}"></script>

<script>
  // var data = {
  //   'Section Name 1': {
  //     'Question Text 1': {
  //       'question_type': 'FIXEDTEXT or MULTIPLETEXT or TEXTAREA or NUMBER or ...',
  //       'answers': [
  //         'answer string 1',
  //         'answer string 2',
  //         'answer string 3',
  //       ]
  //     },
  //   },
  //   'Section Name 2': {
  //     'Question Text 1': {
  //       'question_type': 'MULTIPLECHOICE or ...',
  //       'answers': [
  //         { 'Agree': 1 },
  //         { 'Disagree': 0 },
  //         { 'Neutral': 0 },
  //         ...
  //       ]
  //     }
  //   }
  // }

  // Use this api to get survey data
  var fromAPI = null;
  $.ajax({
    async: false,
    url: "{{artifact_url}}",
    type: 'GET',
    success: function (data) {
      fromAPI = JSON.parse(data);
    },
    error: function (err) {
    }
  });


  var data = {
    labels: ["2013", "2014", "2014", "2015", "2016", "2017"],
    datasets: [{
      label: '# of Votes',
      data: [10, 19, 3, 5, 2, 3],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1,
      fill: false
    }]
  };

  var options = {
    scales: {
      yAxes: [{
        ticks: {
          beginAtZero: true
        }
      }]
    },
    legend: {
      display: false
    },
    elements: {
      point: {
        radius: 0
      }
    }

  };

  var areaData = {
    labels: ["2013", "2014", "2015", "2016", "2017"],
    datasets: [{
      label: '# of Votes',
      data: [12, 19, 3, 5, 2, 3],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(255, 206, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(255, 159, 64, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)',
        'rgba(54, 162, 235, 1)',
        'rgba(255, 206, 86, 1)',
        'rgba(75, 192, 192, 1)',
        'rgba(153, 102, 255, 1)',
        'rgba(255, 159, 64, 1)'
      ],
      borderWidth: 1,
      fill: true, // 3: no fill
    }]
  };

  var areaOptions = {
    plugins: {
      filler: {
        propagate: true
      }
    }
  }

  var scatterChartData = {
    datasets: [{
      label: 'First Dataset',
      data: [{
        x: -10,
        y: 0
      },
      {
        x: 0,
        y: 3
      },
      {
        x: -25,
        y: 5
      },
      {
        x: 40,
        y: 5
      }
      ],
      backgroundColor: [
        'rgba(255, 99, 132, 0.2)'
      ],
      borderColor: [
        'rgba(255,99,132,1)'
      ],
      borderWidth: 1
    },
    {
      label: 'Second Dataset',
      data: [{
        x: 10,
        y: 5
      },
      {
        x: 20,
        y: -30
      },
      {
        x: -25,
        y: 15
      },
      {
        x: -10,
        y: 5
      }
      ],
      backgroundColor: [
        'rgba(54, 162, 235, 0.2)',
      ],
      borderColor: [
        'rgba(54, 162, 235, 1)',
      ],
      borderWidth: 1
    }
    ]
  }

  var scatterChartOptions = {
    scales: {
      xAxes: [{
        type: 'linear',
        position: 'bottom'
      }]
    }
  }

  var doughnutPieOptionsNew = {
    responsive: true,
    animation: {
      animateScale: true,
      animateRotate: true
    },
    tooltips: {
      callbacks: {
        label: function (tooltipItem, data) {
          return data['datasets'][0]['percentage'][tooltipItem['index']] + '% ' + data['labels'][tooltipItem['index']] + ' (' + data['datasets'][0]['data'][tooltipItem['index']] + ')';
        }
      }
    }
  }

  function htmlToElement(html) {
    var template = document.createElement('template');
    html = html.trim(); // Never return a text node of whitespace as the result
    template.innerHTML = html;
    return template.content.firstChild;
  }

  var $sectionTab = $('#sectinTab');
  var $sectionTabContent = $('#sectinTabContent');
  var $summaryContent = $('#summaryContent');
  console.log("fromAPI", fromAPI);

  
  // transform fromAPI to mockData
  var mockData = [];
  pieChart_count = 0;
  
  for (var section in fromAPI) {
    var sectionData = fromAPI[section];
    if (section == 'Aspect') {
      var sectionMockData =
      {
        'section': 'Aspect',
        'summary': {
          'team_name': "{{team_name}}",
          'aspect': [],
          'final_grade': '',
        },
      };
      for (var aspect in sectionData) {
        var aspectData = sectionData[aspect];
        if (aspectData['answers'].length > 0) {
          var aspectMockData = {
            'aspect_name': aspect,
            'aspect_content': aspectData['answers'] + '/10.0',
          };
        }
        else {
          var aspectMockData = {
            'aspect_name': aspect,
            'aspect_content': "Empty",
          };
        }
        sectionMockData['summary']['aspect'].push(aspectMockData);
      }
      mockData.push(sectionMockData);
      continue;
    }
    var multipleChoicePart = {
      'part_type': 'multi-choice',
      'part_data': []
    };
    var fixedTextPart = {
      'part_type': 'text',
      'questions': []
    };
    var sectionMockData = {
      'section': section,
      'parts': [multipleChoicePart, fixedTextPart]
    };

    for (var question in sectionData) {
      var questionData = sectionData[question];
      var question_name = question;
      var question_type = questionData.question_type;
      var answers = questionData.answers;

      if (question_type == 'MULTIPLECHOICE') {
        var doughnutPieDataTemp = {
          datasets: [{
            label: 'Dataset 1',
            data: [],
            percentage: [],
            backgroundColor: [
              'rgba(255, 99, 132, 0.5)',
              'rgba(54, 162, 235, 0.5)',
              'rgba(255, 206, 86, 0.5)',
              'rgba(75, 192, 192, 0.5)',
              'rgba(153, 102, 255, 0.5)',
              'rgba(255, 159, 64, 0.5)'
            ],
            borderColor: [
              'rgba(255,99,132,1)',
              'rgba(54, 162, 235, 1)',
              'rgba(255, 206, 86, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(153, 102, 255, 1)',
              'rgba(255, 159, 64, 1)'
            ],
          }],
          // These labels appear in the legend and in the tooltips when hovering different arcs
          labels: [],
        };
        var sum = 0;
        for (var m = 0; m < answers.length; ++m) {
          for (var key in answers[m]) {
            var count = answers[m][key];
            sum += count;
          }
        }
        for (var m = 0; m < answers.length; ++m) {
          for (var key in answers[m]) {
            var count = answers[m][key];
            doughnutPieDataTemp.datasets[0].data.push(count);
            doughnutPieDataTemp.datasets[0].percentage.push(100 * count / sum);
            doughnutPieDataTemp.labels.push(key);
          }
        }
        var temp_part_data = {
          'title': question_name,
          'name': "pieChart-" + pieChart_count,
          'type': 'pie',
          'data': doughnutPieDataTemp,
          'options': doughnutPieOptionsNew
        }
        pieChart_count++;
        multipleChoicePart.part_data.push(temp_part_data);
      }
      else if (question_type == 'FIXEDTEXT' || question_type == 'MULTIPLETEXT' || question_type == 'TEXTAREA' || question_type == 'SLIDEREVIEW') {
        var temp_part_data = {
          'text': question_name,
          'answers': answers
        }
        fixedTextPart.questions.push(temp_part_data);
      }
      else if (question_type == 'NUMBER') {
        var temp_part_data = {
          'text': question_name,
          'answers': answers
        }
        fixedTextPart.questions.push(temp_part_data);
      }
      else {
        console.log("question_type not found");
      }
    }
    mockData.push(sectionMockData);
  }
  console.log("mockData", mockData);

  for (var i = 0; i < mockData.length; i++) {
    var sectionData = mockData[i];
    var sectionTitle = sectionData.section;
    var sectionTitleSlug = 'SectionTitle-' + i;
    //var sectionTitleSlug = 'SectionTitle' + sectionData.section.replace(' ', '-');
    if (sectionTitle == "Aspect") {
      // aspect part
      var MultipleChoiceContentItemBody = htmlToElement(
        '<div class="row">' +
        '</div>'
      );
      var summaryData = sectionData['summary'];
      var summary = htmlToElement(
        '<div class="col-md-12">' +
        '</div>'
      )
      var summary2 = htmlToElement(
        '<div class="statistics-details d-flex align-items-center justify-content-between">' +
        '</div>'
      )
      var team_name = summaryData['team_name'];
      var team_name = htmlToElement(
        '<h1 class="rate-percentage">&nbsp&nbsp&nbsp' + team_name + '</h1>'
      );
      summary2.appendChild(team_name);

      var aspect = summaryData['aspect'];
      for (var j = 0; j < aspect.length; j++) {
        var aspect_name = aspect[j]['aspect_name'];
        var aspect_content = aspect[j]['aspect_content'];
        var aspect_content_element = htmlToElement(
          '<div>' +
          '<b><p2 class="statistics-title">' + aspect_name + '</p></b>' +
          '<center><h3 class="rate-percentage">' + aspect_content + '</h3></center>' +
          '</div>'
        );
        summary2.appendChild(aspect_content_element);
      }
      var final_grade = summaryData['final_grade'];
      var final_grade_element = htmlToElement(
        '<div>' +
        '<h1 class="rate-percentage">' + final_grade + '&nbsp&nbsp&nbsp&nbsp&nbsp</h1>' +
        '</div>'
      );
      summary2.appendChild(final_grade_element);
      summary.appendChild(summary2);
      MultipleChoiceContentItemBody.appendChild(summary);
      summaryContent.appendChild(MultipleChoiceContentItemBody);
      continue;
    }

    var sectionTabItem = htmlToElement(
      '<li class="nav-item">' +
      ` <button class="nav-link${i === 0 ? ' active' : ''}" id="${sectionTitleSlug}-tab" data-bs-toggle="tab" data-bs-target="#${sectionTitleSlug}"` +
      `         type="button" role="tab" aria-controls="${sectionTitleSlug}" aria-selected="${i === 0 ? 'true' : 'false'}">${sectionTitle}</button>` +
      '</li>'
    );
    $sectionTab.append(sectionTabItem);

    var sectionTabContentItem = htmlToElement(
      `<div class="tab-pane${i === 0 ? ' active' : ''}" id="${sectionTitleSlug}" role="tabpanel" aria-labelledby="${sectionTitleSlug}-tab">` +
      '</div>'
    );

    if (sectionTitle === 'Artifact') {
      var sectionTabContentItemBody = htmlToElement(
        '<div class="row">' +
        '</div>'
      );
      sectionTabContentItemBody.classList.add('artifact');

      var artifactPreview = htmlToElement(
        '<div class="col-md-8 col-12">' +
        '  <div id="artifactPreviewCarousel" class="carousel slide" data-bs-touch="false" data-bs-interval="false">' +
        '    <div class="carousel-inner">' +
        '      <div class="carousel-item active">' +
        '        <canvas style="border: 1px solid black; width: 100%"></canvas>' +
        '        <div class="carousel-caption d-none d-md-block">' +
        '          <span class="page-number"></span> / <span class="page-count"></span>' +
        '        </div>' +
        '      </div>' +
        '    </div>' +
        '    <button id="prev" class="carousel-control-prev" type="button">' +
        '      <span class="carousel-control-prev-icon" aria-hidden="true"></span>' +
        '      <span class="visually-hidden">Previous</span>' +
        '    </button>' +
        '    <button id="next" class="carousel-control-next" type="button">' +
        '      <span class="carousel-control-next-icon" aria-hidden="true"></span>' +
        '      <span class="visually-hidden">Next</span>' +
        '    </button>' +
        '  </div>' +
        '</div>'
      );
      var feedbackDiv = htmlToElement(
        '<div class="col-md-4 col-12 artifact-feedback">' +
        '</div>'
      );

      feedbackData = sectionData.parts[1].questions[0].answers;
      console.log(feedbackData);

      sectionTabContentItemBody.appendChild(feedbackDiv);
      sectionTabContentItemBody.appendChild(artifactPreview);

      sectionTabContentItem.appendChild(sectionTabContentItemBody);
      $sectionTabContent.append(sectionTabContentItem);

      continue;
    }

    for (var j = 0; j < sectionData.parts.length; j++) {
      // for each part
      var partData = sectionData.parts[j];
      var part_type = partData['part_type'];
      console.log("part_type: " + part_type);
      if (part_type == 'multi-choice') {
        // multi-choice part
        var MultipleChoiceContentItemBody2 = htmlToElement(
          '<div class="row">' +
          '</div>'
        );

        var ChartSectionBody = htmlToElement(
          '<div class="border-bottom py-3">' +
          '</div>'
        );

        var part_data = partData['part_data'];
        for (var k = 0; k < part_data.length; k++) {
          // for each card
          if (k % 3 == 0) {
            var ChartSectionBodyRow = htmlToElement(
              '<div class="row">' +
              '</div>'
            );
            ChartSectionBody.appendChild(ChartSectionBodyRow);
          }
          var part_data_inner = part_data[k];
          var part_data_title = part_data_inner['title'];
          var part_data_name = part_data_inner['name'];
          var part_data_type = part_data_inner['type'];
          var data = part_data_inner['data'];
          var options = part_data_inner['options'];
          var part_data_content_element = htmlToElement(
            '<div class="col-lg-4 grid-margin stretch-card">' +
            '<div class="card">' +
            '<div class="card-body"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>' +
            '<h4 class="card-title">' + part_data_title + '</h4>' +
            '<canvas id="' + part_data_name + '" width="751" height="375" style="display: block; height: 300px; width: 601px;" class="chartjs-render-monitor"></canvas>' +
            '</div>' +
            '</div>' +
            '</div>'
          );
          ChartSectionBodyRow.appendChild(part_data_content_element);
        }
        MultipleChoiceContentItemBody2.appendChild(ChartSectionBody);
        sectionTabContentItem.appendChild(MultipleChoiceContentItemBody2);
        $sectionTabContent.append(sectionTabContentItem);

        // draw Chart(only works when placed here or after)
        for (var k = 0; k < sectionData.parts.length; k++) {
          var partData = sectionData.parts[k];
          var part_type = partData['part_type'];
          if (part_type == 'multi-choice') {
            var part_data = partData['part_data'];
            for (var l = 0; l < part_data.length; l++) {
              var part_data_inner = part_data[l];
              var part_data_name = part_data_inner['name'];
              var part_data_data = part_data_inner['data'];
              var part_data_options = part_data_inner['options'];
              var part_data_type = part_data_inner['type'];
              // TODO: add more types
              if ($("#" + part_data_name).length) {
                var ChartCanvas = $("#" + part_data_name).get(0).getContext("2d");
                var newChart = new Chart(ChartCanvas, {
                  type: part_data_type,
                  data: part_data_data,
                  options: part_data_options
                });
              }
            }
          }
        }
      }
      else if (part_type == 'text') {
        console.log("enter text");
        var sectionTabContentItemBody = htmlToElement(
          '<div class="row">' +
          '</div>'
        );
        //partData
        var questions = partData['questions'];
        for (var l = 0; l < questions.length; l++) {
          // for each question
          var questionData = questions[l];
          var question = htmlToElement(
            '<div class="col-md-12" style="padding:1.5rem 1rem">' +
            '</div>'
          )

          var questionText = htmlToElement(
            '<h4 class="text-left">' + questionData.text + '</h4>'
          )
          question.appendChild(questionText);

          var questionAnswers = htmlToElement(
            '<div class="row vertical-scrollable">' +
            '</div>'
          )
          for (var k = 0; k < questionData['answers'].length; k++) {
            var answer_text = questionData['answers'][k];
            var answer = htmlToElement(
              '<div class="col-md-12">' +
              '  <p class="text-left">' +
              answer_text +
              '  </p > ' +
              '</div>'
            )
            questionAnswers.appendChild(answer);
          }
          question.appendChild(questionAnswers);
          sectionTabContentItemBody.appendChild(question);
        }

        sectionTabContentItem.appendChild(sectionTabContentItemBody);
        $sectionTabContent.append(sectionTabContentItem);
      }
      else {
        console.log("error: part_type not found");
      }
    }
  }

  var pdfURL = '{{ artifact_path }}';

  var artifactPreviewDOM = document.getElementById('artifactPreviewCarousel');
  carousel = new PDFCarousel(artifactPreviewDOM, feedbackData);
  carousel.renderPDF(pdfURL, () => {
    // on error
    $('#artifactPreviewCarousel').parent().html(
      '<div class="alert alert-danger">' +
      '  Artifact has not been uploaded.' +
      '</div>'
    );
  });
</script>
{% endblock %}