{% extends 'boilerplates/base_navbar.html' %}
{% load static widget_tweaks %}

{% block title %}Test Edit Survey{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin" id="survey">
    </div> <!-- end #survey -->
  </div> <!-- end .row -->
</div> <!-- end .content-wrapper -->

<!-- Add Section Modal -->
<div class="modal fade" id="addSectionModal" tabindex="-1" role="dialog" aria-labelledby="addSectionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addSectionModalLabel">Add Section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sectionName">Section Name</label>
          <input type="text" class="form-control" id="sectionName" placeholder="Section Name">
        </div>
        <div class="form-group">
          <label for="sectionDescription">Section Description</label>
          <textarea class="form-control" id="sectionDescription" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addSection(this)">Save</button>
      </div>
    </div>
  </div>
</div>

<!-- Add Question Modal -->
<div class="modal fade" id="addQuestionModal" tabindex="-1" role="dialog" aria-labelledby="addQuestionModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addQuestionModalLabel">Add Question</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="sectionNameInQuestionModal">Section Name</label>
          <input type="text" class="form-control" id="sectionNameInQuestionModal" disabled>
        </div>
        <div class="form-group">
          <label for="questionText">Question Text</label>
          <input type="text" class="form-control" id="questionText" placeholder="Question Text">
        </div>
        <div class="form-group">
          <label for="questionType">Question Type</label>
          <select class="form-control" id="questionType">
            <option value="">Select Question Type</option>
            <option value="mcq">Multiple Choice Question</option>
            <option value="text">Text</option>
            <option value="textarea">Textarea</option>
          </select>
        </div>

        <div class="form-group" id="mcqFields">
          <div class="row mb-3 align-items-center justify-content-between">
            <div class="col-md-auto col-sm-12">
              <label for="mcqOptions">Options</label>
            </div>
            <div class="col-md-auto col-sm-12">
              <button type="button" class="btn btn-sm btn-primary" onclick="addMcqOption(this)">Add Option</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" id="choices">
              <input type="text" class="form-control mb-2" id="mcqOptions" placeholder="New Option">
            </div>
          </div>
        </div>

        <div class="form-group" id="textFields">
          <label for="displayNum">Number of Blanks</label>
          <input type="text" class="form-control" id="displayNum">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addQuestion(this)">Save</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/survey-template.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/survey-template.js' %}"></script>
<script>

  $(document).ready(function () {
    survey.render(surveyDOM);

    toggleQuestionTypeFields();
    $("#questionType").change(() => toggleQuestionTypeFields());


    $('#addQuestionModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var sectionName = button.closest('fieldset').find('legend').text();
      $('#sectionNameInQuestionModal').val(sectionName);
    });

    $('.remove-que-btn').on('click', function (event) {
      var button = $(event.currentTarget);
      button.closest('.question').remove();
    })

    $('.remove-sec-btn').on('click', function (event) {
      var button = $(event.currentTarget);
      button.closest('.section').remove();
    })
  });

  var surveyDOM = document.getElementById('survey');
  var survey = new Survey(
    name = 'Survey Template',
    instructions = 'Survey Description',
    sections = [],
    options = {
      edit: true,
    }
  );

  // var section1 = new Section(
  //   name = 'Section 1',
  //   description = 'Section 1 Description',
  //   questions = [],
  //   options = {
  //     edit: true,
  //   }
  // );

  // var mcq = new MultipleChoiceQuestion(
  //   text = 'Multiple Choice Question',
  //   choices = [
  //     { text: 'Choice 1', value: 'choice1' },
  //     { text: 'Choice 2', value: 'choice2' },
  //     { text: 'Choice 3', value: 'choice3' },
  //   ],
  //   options = {
  //     edit: true,
  //   }
  // );
  // var blank = new TextInputQuestion(
  //   text = 'Text Input Question',
  //   placeholder = 'Placeholder',
  //   displayNum = 1,
  //   options = {
  //     edit: true,
  //   }
  // );

  // section1.addQuestion(mcq);
  // section1.addQuestion(blank);

  // survey.addSection(section1);
  // survey.addSectionByName(
  //   name = 'Section 2',
  //   description = 'Section 2 Description',
  // );
  // var section = survey.getSectionByIndex(0);
  // section.options = { edit: true };
  // section = survey.getSectionByIndex(1);
  // section.options = { edit: true };


  // Toggle different question type fields in add question modal
  function toggleQuestionTypeFields() {
    switch ($('#questionType').val()) {
      case 'mcq':
        $('#mcqFields').show();
        $('#textFields').hide();
        break;
      case 'text':
        $('#mcqFields').hide();
        $('#textFields').show();
        break;
      case 'textarea':
        $('#mcqFields').hide();
        $('#textFields').hide();
        break;
      default:
        $('#mcqFields').hide();
        $('#textFields').hide();
        break;
    }
  }

  function resetSectionModal() {
    // Reset form
    $('#sectionName').val('');
    $('#sectionDescription').val('');
  }

  function resetQuestionModal() {
    $('#sectionNameInQuestionModal').val('');
    $('#questionText').val('');
    $('#questionType').val('');
    $('#questionType').trigger('change');
    // Reset MCQ Options fields
    $('#choices').html(
      '<input type="text" class="form-control mb-2" id="mcqOptions" placeholder="New Option">'
    );
    $('#mcqOptions').val('');
    // Reset the number of blanks in text fields
    $('#displayNum').val('');
  }


  // Add a new section to the survey
  function addSection(e) {
    var sectionName = $('#sectionName').val();
    var sectionDescription = $('#sectionDescription').val();

    // Add section to survey and render it
    var section = new Section(
      name = sectionName,
      description = sectionDescription,
      questions = [],
      options = {
        edit: true,
      }
    );
    survey.addSection(section);
    survey.render(surveyDOM);

    // Hide modal
    $('#addSectionModal').modal('hide');
    resetSectionModal();
  }


  // Add a new question to the section
  function addQuestion(e) {
    var questionText = $('#questionText').val();
    var questionType = $('#questionType').val();

    // Add question to section and render it
    if (questionText != '') {
      // Question Text is required
      var question = null;

      switch (questionType) {
        case 'mcq':
          var choices = [];
          $('#choices').find('input').each(function () {
            if ($(this).val() != '') {
              choices.push({ text: $(this).val(), value: $(this).val() });
            }
          });
          if (choices.length > 0) {
            // At least one choice is present
            question = new MultipleChoiceQuestion(
              text = questionText,
              choices = choices,
              options = {
                edit: true,
              }
            );
          }
          break;
        case 'text':
          question = new TextInputQuestion(
            text = questionText,
            placeholder = '',
            displayNum = $('#displayNum').val(),
            options = {
              edit: true,
            }
          );
          break;
        case 'textarea':
          question = new TextareaQuestion(
            text = questionText,
            placeholder = '',
            displayNum = 5,
            options = {
              edit: true,
            }
          );
          break;
        default:
          break;
      }

      // Only add question if it is created
      if (question != null) {
        var sectionName = $('#sectionNameInQuestionModal').val();
        var section = survey.getSectionByName(sectionName);
        section.addQuestion(question);
        survey.render(surveyDOM);
      }
    }

    // Hide modal
    $('#addQuestionModal').modal('hide');
    resetQuestionModal();
  }


  // Add a new choice to the multiple choice question
  function addMcqOption(e) {
    $('#choices').append(
      '<div class="input-group mb-2">' +
      '  <input type="text" class="form-control" placeholder="New Option">' +
      '  <button class="btn btn-outline-danger" type="button" onclick="removeMcqOption(this)">Remove</button>' +
      '</div>'
    );
  }

  // Remove a choice from the multiple choice question
  function removeMcqOption(e) {
    $(e).closest('.input-group').remove();
  }

</script>
{% endblock js %}