{% extends 'boilerplates/base_navbar.html' %}
{% load static widget_tweaks %}

{% block title %}Test View Survey{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-md-12 grid-margin" id="survey">
    </div> <!-- end #survey -->
  </div> <!-- end .row -->
</div> <!-- end .content-wrapper -->
{% endblock content %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/survey-template.css' %}">
{% endblock css %}

{% block js %}
<script src="{% static 'js/survey-template.js' %}"></script>
<script src="{% static 'js/survey-page.js' %}"></script>
<script>

  $(document).ready(function () {
    var surveyDOM = document.getElementById('survey');
    survey.render(surveyDOM);

    survey.on('click', '.back-btn', function (e) {
      e.preventDefault();
      //TODO: href url includes assignment pk and course pk
      window.location.href = '/test_add_survey/';
      // window.location.href = '/survey/' + this.pk + '/student';
    });
  });

  $(function () {
    $.ajaxSetup({
      headers: { "X-CSRFToken": "{{ csrf_token }}" }
    });
  });

  var survey = getSurvey('{{ survey_pk }}', { preview: true });

</script>
{% endblock js %}