{% extends 'boilerplates/base_navbar.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Assignment{% endblock %}

{% block content %}
<div class="content-wrapper">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <div class="border-bottom text-center pb-4">
                {% comment %} <h3>course: {{ assignment.id }}</h3> {% endcomment %}
                <p> </p>
                {% if assignment.assignment_name %}
                <h2>{{ assignment.assignment_name }}</h2>
                {% else %}
                <h2>Empty Assignment Name</h2>
                {% endif %}
              </div>
              <div class="border-bottom text-center pb-4">
                <p> </p>
                <p3>
                  <b>Type:</b> {{ assignment.assignment_type }} &nbsp&nbsp&nbsp
                  <b>Submission:</b> {{ assignment.submission_type }}
                </p3>
                <p> </p>
                <p4>
                  <b>Total Score:</b> {{ assignment.total_score }} &nbsp&nbsp
                  <b>Weight:</b> {{ assignment.weight }} &nbsp&nbsp
                  <b>Due:</b> {{ assignment.date_due }}
                </p4>
              </div>
              <div class="border-bottom pb-4">
                <p> </p>
                <p3>
                  <b>Description:</b>
                  <p>{{ assignment.description|linebreaksbr }}</p>
                </p3>
              </div>
              <p> </p>
              <a href="{% url 'assignment' course_id %}"><button type="button"
                  class="btn btn-outline-primary">Back</button></a>
            </div>
            <div class="col-lg-4">
              <div class="border-bottom py-4">
                <p>Reserved place</p>
                <div>
                  <p> Rfsfdfsdfsdfsdfsdfsdf</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}